In [56]:
import pandas as pd
import numpy as np
import re

In [57]:
data = pd.read_csv('attacks.csv')

In [58]:
data.shape

(25723, 24)

In [59]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [60]:
data.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson�McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [61]:
data.isnull().sum()

Case Number               17021
Date                      19421
Year                      19423
Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex                       19986
Age                       22252
Injury                    19449
Fatal (Y/N)               19960
Time                      22775
Species                   22259
Investigator or Source    19438
pdf                       19421
href formula              19422
href                      19421
Case Number.1             19421
Case Number.2             19421
original order            19414
Unnamed: 22               25722
Unnamed: 23               25721
dtype: int64

In [62]:
data[data['Case Number'].isnull()].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17021 entries, 5488 to 25721
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             0 non-null      object
 1   Date                    1 non-null      object
 2   Year                    1 non-null      float64
 3   Type                    1 non-null      object
 4   Country                 1 non-null      object
 5   Area                    1 non-null      object
 6   Location                1 non-null      object
 7   Activity                1 non-null      object
 8   Name                    1 non-null      object
 9   Sex                     1 non-null      object
 10  Age                     0 non-null      object
 11  Injury                  1 non-null      object
 12  Fatal (Y/N)             1 non-null      object
 13  Time                    0 non-null      object
 14  Species                 0 non-null      object
 15  Investigator or Source  1 non-null      object
 16  pdf                     1 non-null      object
 17  href formula            1 non-null      object
 18  href                    1 non-null      object
 19  Case Number.1           1 non-null      object
 20  Case Number.2           1 non-null      object
 21  original order          1 non-null      float64
 22  Unnamed: 22             0 non-null      object
 23  Unnamed: 23             0 non-null      object
dtypes: float64(2), object(22)
memory usage: 3.2+ MB

# Remove rows with 'NaN' Case Number

In [63]:
data.dropna(subset = ["Case Number"], inplace=True)

In [64]:
data.isnull().sum()

Case Number                  0
Date                      2401
Year                      2403
Type                      2405
Country                   2451
Area                      2856
Location                  2941
Activity                  2945
Name                      2611
Sex                       2966
Age                       5231
Injury                    2429
Fatal (Y/N)               2940
Time                      5754
Species                   5238
Investigator or Source    2418
pdf                       2401
href formula              2402
href                      2401
Case Number.1             2401
Case Number.2             2401
original order            2394
Unnamed: 22               8701
Unnamed: 23               8700
dtype: int64

# Remove rows with non coherent Case Number

In [65]:
data = data[data['Case Number']!= '0']

In [66]:
data = data[data['Case Number']!= 'xx']

In [67]:
data.isnull().sum()

Case Number                  0
Date                         0
Year                         2
Type                         4
Country                     50
Area                       455
Location                   540
Activity                   544
Name                       210
Sex                        565
Age                       2830
Injury                      28
Fatal (Y/N)                539
Time                      3353
Species                   2837
Investigator or Source      17
pdf                          0
href formula                 1
href                         0
Case Number.1                0
Case Number.2                0
original order               0
Unnamed: 22               6300
Unnamed: 23               6299
dtype: int64

# Remove NA columns

In [68]:
data = data.drop(['Unnamed: 22','Unnamed: 23'], axis = 1)

In [69]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6301 entries, 0 to 6301
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             6301 non-null   object
 1   Date                    6301 non-null   object
 2   Year                    6299 non-null   float64
 3   Type                    6297 non-null   object
 4   Country                 6251 non-null   object
 5   Area                    5846 non-null   object
 6   Location                5761 non-null   object
 7   Activity                5757 non-null   object
 8   Name                    6091 non-null   object
 9   Sex                     5736 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6273 non-null   object
 12  Fatal (Y/N)             5762 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6284 non-null   object
 16  pdf                     6301 non-null   object
 17  href formula            6300 non-null   object
 18  href                    6301 non-null   object
 19  Case Number.1           6301 non-null   object
 20  Case Number.2           6301 non-null   object
 21  original order          6301 non-null   float64
dtypes: float64(2), object(20)
memory usage: 1.1+ MB

# Removing redundant columns

In [70]:
data = data.drop(['Case Number.1','Case Number.2'], axis = 1)

In [71]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6301 entries, 0 to 6301
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             6301 non-null   object
 1   Date                    6301 non-null   object
 2   Year                    6299 non-null   float64
 3   Type                    6297 non-null   object
 4   Country                 6251 non-null   object
 5   Area                    5846 non-null   object
 6   Location                5761 non-null   object
 7   Activity                5757 non-null   object
 8   Name                    6091 non-null   object
 9   Sex                     5736 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6273 non-null   object
 12  Fatal (Y/N)             5762 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6284 non-null   object
 16  pdf                     6301 non-null   object
 17  href formula            6300 non-null   object
 18  href                    6301 non-null   object
 19  original order          6301 non-null   float64
dtypes: float64(2), object(18)
memory usage: 1.0+ MB

# Filling NaN with coherent data

In [72]:
data.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,original order
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6303.0
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson�McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6302.0
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6301.0
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6300.0
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6299.0

In [73]:
values = {'Species': 'Unknown', 'Age': 'Unknown', 'Time': 0}

data = data.fillna(value=values)

In [74]:
data.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,original order
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6303.0
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson�McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6302.0
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6301.0
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,Unknown,Minor injury to lower leg,N,0,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6300.0
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,Unknown,Lacerations to leg & hand shark PROVOKED INCIDENT,N,0,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6299.0

# Remove gender stored in Name, replace for unknown

In [75]:
data['Name'].replace('male','Unknown')

0                 Julie Wolfe
1             Adyson�McNeely
2                 John Denges
3                     Unknown
4              Gustavo Ramos
                ...
6297                  Unknown
6298                    Ahmun
6299    Coast Guard personnel
6300          Jules Patterson
6301                  Unknown
Name: Name, Length: 6301, dtype: object

In [77]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6301 entries, 0 to 6301
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             6301 non-null   object
 1   Date                    6301 non-null   object
 2   Year                    6299 non-null   float64
 3   Type                    6297 non-null   object
 4   Country                 6251 non-null   object
 5   Area                    5846 non-null   object
 6   Location                5761 non-null   object
 7   Activity                5757 non-null   object
 8   Name                    6091 non-null   object
 9   Sex                     5736 non-null   object
 10  Age                     6301 non-null   object
 11  Injury                  6273 non-null   object
 12  Fatal (Y/N)             5762 non-null   object
 13  Time                    6301 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6284 non-null   object
 16  pdf                     6301 non-null   object
 17  href formula            6300 non-null   object
 18  href                    6301 non-null   object
 19  original order          6301 non-null   float64
dtypes: float64(2), object(18)
memory usage: 1.0+ MB

In [ ]:
da